.row
  .col-xs-12
    = render "layouts/back_button", path: championships_path

.row
  .col-xs-12.text-center
    %h1= @championship.name

.row
  .col-xs-12.text-center
    = link_to "Fixtures", day_path(@championship.default_day), class: 'btn btn-primary btn-lg'

.row
  .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
    %h2.text-center Standings
    %table.table.table-striped
      %tr
        %th #
        %th Peignk
        %th Points
      - @players_user_scores.each_with_index do |us, idx|
        - user = us.user
        %tr{class: ("success" if user == @user)}
          %td= idx+1
          %td
            = image_tag user.facebook_picture_url, class: "img-circle user-picture", width: "30px"
            = user.name
          %td= us.value
