= form_for(bet, url: path, remote: true, html: { method: method, class: "form-horizontal bet-form" }) do |f|
  = f.hidden_field :fixture_id, value: fixture.id

  .form-group
    = f.label :result, class: "col-sm-2 control-label"
    .col-sm-6
      = f.select :result, options_for_select(bet_result_options_for_select(fixture)), {}, class: 'form-control result-select'

  .row.winner-fields-container{style: "display:none;"}
    .col-xs-12
      .form-group
        = f.label :points_gap_id, "Points gap", class: "col-sm-2 control-label"
        .col-sm-6
          = f.select :points_gap_id, options_for_select(bet_points_gap_options_for_select), {}, class: 'form-control'
      .form-group
        = f.label :bonus_off, "Defensive bonus", class: "col-sm-2 control-label"
        .col-sm-6
          = f.select :bonus_def, options_for_select(bet_bonus_options_for_select(fixture)), {}, class: 'form-control'

  .form-group
    = f.label :bonus_off, "Offensive bonus", class: "col-sm-2 control-label"
    .col-sm-6
      = f.select :bonus_off, options_for_select(bet_bonus_options_for_select(fixture)), {}, class: 'form-control'

  .form-group
    .col-sm-offset-2.col-sm-6
      = f.submit "Place bet", class: "btn btn-default"
