- today = Date.today
- @fixtures.each do |fixture|
  .col-xs-12.fixture-details
    .row
      .col-xs-12
        %p.small
          %strong
            = l(fixture.starts_at.to_date, format: :long)
    .row
      .col-xs-12
        %h3{class: ("winner" if fixture.winner == fixture.team_a)}
          = display_result(fixture, "a")
          %small= display_bonus(fixture, "a")
      .col-xs-12
        %h3{class: ("winner" if fixture.winner == fixture.team_b)}
          = display_result(fixture, "b")
          %small= display_bonus(fixture, "b")
    - if fixture.bets_closed?
      .row
        .col-xs-12.view-bets-trigger-container
          = link_to "View bets", "javascript:void(0)", class: "btn btn-default btn-xs"
        .col-xs-12.hide-bets-trigger-container{style: "display:none;"}
          = link_to "javascript:void(0)", class: "btn btn-danger" do
            %i.fa.fa-times
            Hide
        .col-xs-12.bets-container{style: "display:none;"}
          .row
          - fixture.bets.order(points: :desc).each do |b|
            - user = b.user
            .col-xs-12.bet{class: ("text-success" if user == @user)}
              = image_tag user.facebook_picture_url, class: "img-circle user-picture", width: "30px"
              %strong
                = b.points.to_i
                Pts
                \-
                = user.name
              \:
              = bet_elements(b)
    - elsif fixture.bettable?
      - bet = fixture.bet(@user_score)
      - if !!bet
        .row
          .col-xs-12.bet-details
            %h6 My bet :
            %p= bet_elements(bet)
          .col-xs-12.edit-bet-trigger-container
            = link_to "javascript:void(0)", class: "btn btn-default btn-xs" do
              %i.fa.fa-pencil
              Edit bet
          .col-xs-12.edit-bet-form-container{style: "display:none;"}
            = render "days/bet_form", bet: bet, path: update_bet_path, fixture: fixture, method: "put"
      - else
        .row
          .col-xs-12
            = render "days/bet_form", bet: Bet.new, path: create_bet_path, fixture: fixture, method: "post"
    .row
      .col-xs-12
        %hr
